<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart Speech Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <script src="/lib/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="/lib/bower_components/angular-file-upload/dist/angular-file-upload.min.js" type="text/javascript"></script>
    <script src="/lib/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/lib/bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/services/masterService.js"></script>
    <script src="/app/controllers/masterController.js"></script>
</head>
<body ng-app="SpeechToText">
    <div class="terawe-logo">
        <img src="/lib/images/teraweLogo.png" />
    </div>
    <div ng-controller="masterCtrl">
        <!-- <div class="outer-page" ng-hide="speechScore"> -->
            <label class="upload-label" ng-show="uploadForm">Please upload audio files: </label>
            <div class="inner-page" ng-show="uploadForm">
                    <div class="drag-drop">
                        <div class="drop-files" ngf-drop="upload($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true">
                            <span class="upload-text">
                            <img class="upload-icon" src="/lib/images/upload.svg" width="26" height="26" />
                                Drop files here
                            </span>
                        </div>
                        <!-- <label class="button" ngf-select="upload($files)" multiple="multiple">Select files from your computer</label> -->
                    </div>
                    <div class="upload">
                    <button class="button" ngf-select="upload($files)" multiple="multiple">Select files from your computer</button>
                </div>
                <!-- <form action="/uploadFile" method="post" enctype="multipart/form-data"> 
                    <label for="uploadFiles" class="upload-button">Select a file from  computer</label>
                    <input id="uploadFiles" class="hidden" type="file" name="snapshot" /> 
                    <input type="submit" value="Upload" /> 
                </form> -->
                <!-- <label for="uploadFiles" class="upload-button">Select a file from your computer</label>
                <input id="uploadFiles" class="hidden" type="file" nv-file-select uploader="uploader" ng-model="audioFile" ng-change="fn()"/> -->
            </div>
            <div class="loading-page" ng-show="loadingPage">
                <label class="loading-label">Processing Audio Files</label>
                <table class="loading-table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>File Size</th>
                            <th>Speech To Text</th>
                            <th>Polarity</th>
                            <th>Grammar</th>
                            <th>Fluency</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="f in uploadFiles">
                            <td>{{f.name}}</td>
                            <td class="right-align">{{f.size}}</td>
                            <td>
                                <span ng-if="sttSpinner" class="spinner" us-spinner="{radius:8, width:3, length: 6}"></span>
                                <img src="/lib/images/correct-symbol.svg" ng-if="checkMark" class="check move-left" />
                            </td>
                            <td>
                                <span ng-if="featureSpinner" class="spinner" us-spinner="{radius:8, width:3, length: 6}"></span>
                                {{f.polarityScore}}
                            </td>
                            <td>
                                <span ng-if="featureSpinner" class="spinner" us-spinner="{radius:8, width:3, length: 6}"></span>
                                {{f.grammarScore}}
                            </td>   
                            <td>
                                <span ng-if="fluencySpinner" class="spinner" us-spinner="{radius:8, width:3, length: 6}"></span>
                                {{f.fluencyScore}}
                            </td> 
                        </tr>
                    </tbody>
                </table>
                <button ng-click="predictModel()" ng-disabled="!enablePrediction" ng-class="!enablePrediction ? 'disabled' : ''" class="button position-button">Run Prediction</button>
                <button ng-click="runFeatures()" ng-disabled="sttSpinner" ng-class="sttSpinner ? 'disabled' : ''" class="button position-button predict">Calculate Features</button>
            </div>
        <!-- </div> -->
        <!-- <span></span> -->
        
        <span ng-if="scoreSpinner" us-spinner="{radius:30, width:8, length: 16}"></span>
        <div ng-show="speechScore">
            <div class="outer-table-page">
                <label class="score-label">Smart Speech Score</label>
                <table class="score-table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Polarity</th>
                            <th>Grammar</th>
                            <th>Fluency</th>
                            <th>Actual Grade</th>
                            <th>Predicted Grade</th>
                            <th>Prediction Accuracy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-style="data.failedRow" ng-repeat="data in calculatedScore">
                            <td>{{data.name}}</td>
                            <td>{{data.polarityScore}}</td>
                            <td>{{data.grammarScore}}</td>
                            <td>{{data.fluencyScore}}</td>
                            <td>{{data.actualGrade}}</td>
                            <td ng-init="stopGradeSpinner(data, $index)">
                            <span ng-if="!data.gradeSpinner" class="spinner" us-spinner="{radius:8, width:3, length: 6}"></span>
                            <span ng-if="data.gradeSpinner">{{data.predictedGrade}}</span>
                            </td>
                            <td style="background-color: white">
                                <img ng-show="data.passed" src="/lib/images/correct-symbol.svg" class="check" />
                                <img ng-show="data.failedRow" src="/lib/images/remove-symbol.svg" class="check" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="probability">Overall Accuracy: 84.7%</span>
            <button ng-click="goBack()" class="button back">Go Back</button>
        </div>
    </div>
</body>
</html>