html{
    background: linear-gradient(black, #003366);
    background-repeat: no-repeat;
    height: auto;
    min-height: 100%;
    /* color: aliceblue; */
}

body {
    padding: 0px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.terawe-logo{
    margin-left: 73px;
    margin-bottom: 100px;
}

.outer-page {
    height: auto;
    width: 80%;
    background-color: #f5f5f5;
    border: 1px solid black;
    padding: 100px;
    margin: 0 auto;
}

.inner-page{
    /* height: 200px;
    line-height: 200px; */
    width: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid rgba(58, 58, 58, 0.438);
    background-color: #f5f5f5;
    text-align: center;
    
}

.upload-label{
    font-size: 24px;
    font-weight: 500;
    position: relative;
    bottom: 20px;
    color: #f5f5f5;
    
}

.button{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid black;
    padding: 20px 30px;
    color: black;
    /* color: rgb(64, 64, 64); #1aff1a */
    background-color: #1aff1a; 
    /* background-color: #808080; 1aff1a */
    /* text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7); */
}

.upload{
    display: inline-block;
    margin-left: 8em;
}

.upload-icon{
    /* display: block; */
    position: relative;
    /* bottom: -10px; */
    top: 5px;
    margin-top: 20px;
    right: 5px;
}

.upload-text{
    display: block;
    font-size: 18px;
    
}

.drag-drop{
    display: inline-block;
    padding-right: 8em;
    border-right: 2px solid rgba(64, 64, 64, 0.6); 
    line-height: 160px;
    margin-left: -3em;
    
    /* border-radius: 20px; */
}

.drop-files{
    background-color: rgba(204, 199, 199, 0.966);
    border: 1px dashed steelblue;
    padding: 0 17em;
    /* margin-right: 10em; */
    /* border-bottom-style: dashed; */
}

.hidden{
    display: none;
}

.score-table{
    margin-top: 14px;
    width:100%;
    background-color: #fff;
    
}

.score-table th{
    background-color: rgba(0, 77, 134, 1);
    font-size: 18px !important;
    vertical-align: middle;
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: #fff;
}

.score-table tr:first-child td{
    padding-top: 10px; 
    
}
.score-table td{
    text-align: center;
    padding-bottom: 10px; 

}
.outer-table-page{
    padding: 15px;
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: rgb(189, 215, 238);
    margin-bottom: 10px;
}

.score-label{
    font-weight: 500;
    font-size: 24px;
}

.loading-table{
    width:100%;
    background-color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    min-height: 150px;
}

.loading-label{
    position: relative;
    bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #f5f5f5;
}

.loading-table tr:first-child td{
    padding-top: 10px; 
    
}
.loading-table td{
    text-align: center;
    padding-bottom: 20px; 

}

.spinner{
    position: relative;
    /* top: 20px; */
    /* left: 110px; */
}

.check{
    width: 26px;
    height: 26px;
}

.move-left{
    left: 153px;
}

.position-button{
    float: right;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
}

.predict{
    right: 10px;
}

.probability{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    /* top: 4.6em; */
    left: 30em;
    background-color: #1aff1a;
    /* color: #f5f5f5; */
    padding: 20px;
    border: 1px solid black;
}

.back{
    position: relative;
    /* top: 4.6em; */
    right: 13.2em;
}

.disabled{
    background-color: #808080;
    cursor: not-allowed !important;
}
/* .score-table tr:nth-child(even) {
    background-color: #dddddd;
} */