body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.outer-page {
    height: auto;
    width: auto;
    background-color: #f5f5f5;
    border: 1px solid black;
    padding: 100px;
}

.inner-page{
    height: 400px;
    line-height: 400px;
    width: auto;
    border: 1px solid rgba(58, 58, 58, 0.438);
    background-color: #f5f5f5;
    text-align: center;
    
}
.upload-button{
    cursor: pointer;
    background-color: rgb(5, 168, 26);
    padding: 10px;
}

.hidden{
    display: none;
}

.score-table{
    width:100%;
    margin-top: 14px;
    background-color: #fff;
    
}

.score-table th{
    background-color: rgba(0, 77, 134, 1);
    font-size: 18px !important;
    vertical-align: middle;
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: #fff;
}

.score-table tr:first-child td{
    padding-top: 10px; 
    
}
.score-table td{
    text-align: center;
    padding-bottom: 10px; 

}
.outer-table-page{
    padding: 15px;
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: rgb(189, 215, 238);
}

.score-label{
    font-size: 18px;
}

/* .score-table tr:nth-child(even) {
    background-color: #dddddd;
} */